version: '3.8'

services:
  jenkins:
    build: .
    container_name: jenkins
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - DOCKER_TLS_CERTDIR=
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.env:/var/jenkins_home/credentials.env
    networks:
      - app-net
    restart: unless-stopped

networks:
  app-net:
    external: true
    name: project_app-net

volumes:
  jenkins_home:

